{%- from "alert_rule_expression.j2" import expression_macro -%}
{%- from "alert_rule_condition.j2" import condition_macro -%}
groups:
  - name: yan0s_prom_alerts
    rules:
      - alert: {{ alert_rule.name }}
        expr:{{" "}}
            {#- Condition START -#}
            {{- condition_macro(alert_rule.condition) -}}
            {#- Condition END #}
        for: {{ alert_rule.duration.value }}{{ alert_rule.duration.unit }}
        labels:
        annotations:
          summary: "{{ alert_rule.annotation_summary }}"
          description: "{{ alert_rule.annotation_description }}"
