{%- from "alert_rule_expression.j2" import expression_macro -%}
{%- from "alert_rule_condition.j2" import condition_macro -%}
ALERT {{ alert_rule.name }}
    IF{{" "}}
    {#- Condition START -#}
    {{- condition_macro(alert_rule.condition) -}}
    {#- Condition END #}
    FOR {{ alert_rule.duration.value }}{{ alert_rule.duration.unit }}
    LABELS {}
    ANNOTATIONS {
        summary = "{{ alert_rule.annotation_summary }}",
        description = "{{ alert_rule.annotation_description }}"
    }
