{#- Expression START -#}
{%- macro expression_macro(expression) -%}
    {#- If inequality.category == promql -#}
    {%- if expression.category == "promql" -%}
        {{ expression.promql -}}
    {#- If inequality.category == metric -#}
    {%- elif expression.category == "metric" -%}
        {%- if expression.function -%}
            {{ expression.function.name }}(
        {%- endif -%}
        {{ expression.metric.name -}}
        {
        {%- set is_first_item = {'is_first_item': True} -%}
        {%- for item in expression.metric.label_list %}
            {%- if is_first_item.is_first_item == False -%}
                ,
            {%- endif -%}
            {{- item.label.key -}}
            {#- If label.key == instance add regex syntax to match all ports TODO: and and matching operator == "=" or "=~"-#}
            {%- if item.label.key == "instance" -%}
                {{- "=~" -}}
                "{{- item.label.value+".*" -}}"
            {%- else %}
                {{- item.label.matching_operator -}}
                "{{- item.label.value -}}"
            {%- endif -%}
            {{""-}}
            {%- if is_first_item.update({'is_first_item': False}) -%}{%- endif -%}
        {%- endfor -%}
        }{{""-}}
        {#- expression.duration START -#}
        {%- if expression.metric.duration is not none -%}
            {%- if expression.metric.duration.value != 0 -%}
                [{{ expression.metric.duration.value }}{{ expression.metric.duration.unit }}]
            {%- endif -%}
        {%- endif -%}
        {#- expression.duration END -#}
        {#- expression.offset START -#}
        {%- if expression.metric.offset is not none -%}
            {%- if expression.metric.offset.value != 0 -%}
                {{-" offset "-}}{{ expression.metric.offset.value }}{{ expression.metric.offset.unit }}
            {%- endif -%}
        {%- endif -%}
        {#- expression.offset END -#}
        {%- if expression.function -%}
            )
        {%- endif -%}
    {#- If expression.category == constant -#}
    {%- elif expression.category == "constant" -%}
        {{- expression.constant -}}
    {%- endif -%}
    {{-" "-}}
{%- endmacro -%}
{#- Expression END -#}

