{% from "alert_rule_expression.j2" import expression_macro %}

{%- macro condition_macro(condition) -%}
    {#- PromQL START -#}
    {%- if condition.category == "promql" -%}
        "{{condition.promql}}",
    {#- PromQL END -#}
    {#- Inequality START -#}
    {%- elif condition.category == "inequality" -%}
        {#- LHS START -#}
        {{ expression_macro(condition.inequality.LHS.expression) }}
        {#- LHS END -#}
        {#- Comparison Operator START -#}
        {{- condition.inequality.comparison_operator -}}{{" "-}}
        {#- Comparison Operator END -#}
        {#- RHS START -#}
        {{ expression_macro(condition.inequality.RHS.expression) }}
        {#- RHS END -#}
    {#- Inequality END -#}
    {#- Logical Operation START -#}
    {%- elif condition.category == "logical_operation" -%}
        {%- set is_first_item = {'is_first_item': True} -%}
        (
        {%- for item in condition.logical_operation.condition_list -%}
            {%- if is_first_item.is_first_item == true -%}
                {{- condition_macro(item.condition) -}}{{ " " }}
            {%- else -%}
                {{- condition.logical_operation.logical_operator }} on () {{ condition_macro(item.condition) -}}
            {%- endif -%}
            {%- if is_first_item.update({'is_first_item': False}) -%}{%- endif -%}
        {%- endfor -%}
        ){{ " " -}}
    {%- endif %}
    {#- Logical Operation START -#}
{%- endmacro -%}