[
  {
    "targets": [
    {%- for port in target_resource.port_list -%}
        {%- if port != target_resource.port_list[-1] -%}
        "{{ target_resource.ip }}:{{ port }}",
        {%- else -%}
        "{{ target_resource.ip }}:{{ port }}"
        {%- endif -%}
    {%- endfor -%}
    ],
    "labels": {
      {%- for item in target_resource.label_list %}
      {% if item.label.key != target_resource.label_list[-1].label.key -%}
      "{{ item.label.key }}": "{{ item.label.value }}",
      {%- else -%}
      "{{ item.label.key }}": "{{ item.label.value }}"
      {%- endif -%}
      {%- endfor %}
    }
  }
]
